extends ../layouts/master

block content
    h1 #{title}
    form(action="/articles/create", method="post")
        #form-group
            label(for="title") Title:
            input.form-control(name="title", type="text") 
        #form-group
            label(for="body") body:
            textarea.form-control(name="body", type="text")
        br
        input.btn.btn-primary(type='submit', value='submit') 