extends ../layouts/master

block content
    h1 #{title}
    form(action="/articles/edit/"+article.id, method="post")
        #form-group
            label(for="title") Title:
            input.form-control(name="title", type="text", value=article.title) 
        #form-group
            label(for="body") body:
            textarea.form-control(name="body", type="text") #{article.body}
        br
        input.btn.btn-primary(type='submit', value='submit') 